@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.syntax--comment {
  color: @light-gray;
}

.syntax--keyword {
  color: @red;

  &.syntax--control {
    color: @red;
  }

  &.syntax--operator {
    color: @orange;
  }

  &.syntax--other.syntax--special-method {
    color: @hard-yellow;
  }

  &.syntax--other.syntax--unit {
    color: @orange;
  }
}

.syntax--storage {
  color: @red;

  &.syntax--modifier {
    color: @purple;
  }
}

.syntax--constant {
  color: @hard-cyan;

  &.syntax--character.syntax--escape {
    color: @cyan;
  }

  &.syntax--language {
    color: @red;
  }

  &.syntax--numeric {
    color: @purple;
  }

  &.syntax--other.syntax--color {
    color: @cyan;
  }

  &.syntax--other.syntax--symbol {
    color: @green;
  }
}

.syntax--variable {
  color: @blue;

  &.syntax--other.syntax--property {
    color: @syntax-text-color;
  }

  &.syntax--interpolation {
    color: darken(@blue, 10%);
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-text-color;
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @hard-red;
  color: @syntax-background-color;
}

.syntax--string {
  &.syntax--quoted.syntax--single {
    color: @cyan;
  }

  &.syntax--quoted.syntax--double {
    color: @green;
  }


  &.syntax--regexp {
    color: @orange;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @red;
    }
  }

  &.syntax--other.syntax--link {
    color: @hard-cyan;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @light-gray;
    }

    &.syntax--variable {
      color: @blue;
    }

    &.syntax--string {
      color: inherit;
    }

    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-text-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @blue;
    }

    &.syntax--bold {
      color: darken(@blue, 10%);
      font-weight: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }

    &.syntax--tag {
      color: darken(@syntax-text-color, 5%);
    }
  }

  &.syntax--terminator {
    color: @orange;
  }

  &.syntax--section.syntax--embedded {
    color: darken(@red, 10%);
  }

}

.syntax--support {
  &.syntax--class {
    color: @syntax-text-color;
  }

  &.syntax--function  {
    color: @purple;

    &.syntax--any-method {
      color: @cyan;
    }
  }
}

.syntax--entity {
  &.syntax--name {
    color: @syntax-text-color;
  }

  &.syntax--name.syntax--function {
    color: @hard-cyan;
  }
  // &.syntax--name.syntax--type {
  //   color: @blue;
  // }

  &.syntax--other.syntax--inherited-class {
    color: @syntax-text-color;
  }

  // &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
  //   color: @blue;
  // }

  // &.syntax--name.syntax--section {
  //   color: @blue;
  // }

  &.syntax--name.syntax--tag {
    color: @blue;
  }

  &.syntax--other.syntax--attribute-name {
    color: @red;
  }
}

.syntax--meta {
  &.syntax--class {
    color: @cyan;
  }

  &.syntax--function-call {
    color: @syntax-text-color;
  }

  // &.syntax--link {
  //   color: @orange;
  // }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @purple;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @syntax-text-color;
  }

  &.syntax--use {
    color: @syntax-text-color;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: darken(@blue, 10%);
    font-weight: bold;
  }

  &.syntax--changed {
    color: @orange;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--italic {
    color: @purple;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: @orange;
  }

  &.syntax--raw.syntax--inline {
    color: @green;
  }
}

.syntax--source {
  &.syntax--gfm .syntax--markup {
    -webkit-font-smoothing: auto;
    &.syntax--heading {
      color: @green;
    }
  }
}


atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}
